apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: transmission-web-data
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 100Mi
