# Create the secret with:
# kubectl create secret generic transmission-web-secret \
#   --from-literal=password='YOUR_PASSWORD' \
#   -n default
#
# Or apply this file after base64 encoding your password:
# echo -n 'YOUR_PASSWORD' | base64
#
# Then replace PASSWORD_BASE64 below with the output

apiVersion: v1
kind: Secret
metadata:
  name: transmission-web-secret
  namespace: default
type: Opaque
data:
  password: PASSWORD_BASE64  # Replace with base64 encoded password
